<%= stylesheet_link_tag "show" %>

<script>
  $(document).ready(function() { 

    var myvar = <%= @game.last_guess_correct %>

    if (myvar){
      var d = document.getElementById("score_value");
      console.log(d);
      d.classList.add("animation");
      console.log(d.classList);
    }
  
  });

</script>


<nav class="navbar navbar-expand bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", {:controller => "home", :action => "welcome"}, :method => :get, :class => "nav-link active" %></li>
      <li><%= link_to "New Game", {:controller => "games", :action => "new"}, :method => :get, :class => "nav-link active" %></li>
    </ul>
  </div>
</nav>

<div class = score>
  SCORE: <div id = "score_value"> <%= @game.tempScore %> </div>
</div>

<div id = ui>
  <div id = word>
  <%= @game.hidden_word %>
  </div>

  <div id = letter_buttons>
    <% ('a'..'z').to_a.each do |letter| %>
      <% if letter == 'j' || letter == 's' %>
        <%= simple_format("\n") %>
      <% end %>
      <% if @game.letter_left(letter) %>
        <%= button_to letter, guesses_create_path(Guess.new),
        :method => :get, params: {game_id: @game.id, letter: letter},
        form: {style: 'display:inline-block;'}, :disabled => @game.game_over || @game.game_won, :class => "btn btn-primary" %>
      <% else %>
        <%= button_to letter, guesses_create_path(Guess.new),
        :method => :get, params: {game_id: @game.id, letter: letter},
        form: {style: 'display:inline-block;'}, :disabled => true, :class => "btn btn-primary", :style => "visibility: hidden;" %>
      <% end %>
  <% end %>
  </div>
</div>

<div id = hangman_image_container>
  <% if @game.game_won %>
    <%= image_tag "victory.png", :digest => false, :id => "hangman_image" %>
  <% else %>
    <%= image_tag "frame" + (15 - @game.guesses_left).to_s + ".png", :digest => false, :id => "hangman_image" %>
  <% end %>
</div>

<div class = "game_buttons g1">
  <div class = btn-group>
    <% if @game.game_won %>
      <%= button_to "Play Again",
       games_path(:game => { :word => "", :hidden => @game.hidden, :difficulty => @game.difficulty, :lives => @game.lives }),
       :class => "btn btn-primary", :id => "new_game_button" %>
      <%= button_to "New Game",
       {:controller => "games", :action => "new"}, :method => :get, :class => "btn btn-primary", :id => "new_game_button" %>
    <% elsif @game.game_over %>
    <%= button_to "Play Again",
     games_path(:game => { :word => "", :hidden => @game.hidden, :difficulty => @game.difficulty, :lives => @game.lives }),
     :class => "btn btn-primary", :id => "new_game_button" %>
      <%= button_to "New Game", {:controller => "games", :action => "new"}, :method => :get, :class => "btn btn-primary", :id => "new_game_button" %>
    <% end %>
  </div>
</div>

<div class = "game_buttons g2">
  <div class = btn-group>
    <% if @game.game_over %>
    <% if @game.hidden %>
      <%= button_to "Show  Word", {:controller => "games", :action => "reveal_word", :game_id => @game.id}, :class => "btn btn-success", :id => "reveal_word_button" %>
    <% else %>
      <%= button_to "Hide Word", {:controller => "games", :action => "hide_word", :game_id => @game.id}, :class => "btn btn-info", :id => "reveal_word_button" %>
    <% end %>
    <% end %>
  </div>
</div>
