<%= stylesheet_link_tag "show" %>

<nav class="navbar-nav navbar-dark bg-primary">
  <span class="navbar-text"> Hangman </span>
</nav>

<div class = ui>
  <div class = word>
  <%= @game.hidden_word %>
  </div>

  <div class = letter_buttons>
    <% ('a'..'z').to_a.each do |letter| %>
      <% if letter == 'j' || letter == 's' %>
        <%= simple_format("\n") %>
      <% end %>
      <% if @game.letter_left(letter) %>
        <%= button_to letter, guesses_create_path(Guess.new),
        :method => :get, params: {game_id: @game.id, letter: letter},
        form: {style: 'display:inline-block;'}, :disabled => @game.game_over, :class => "btn btn-primary" %>
      <% else %>
        <%= button_to letter, guesses_create_path(Guess.new),
        :method => :get, params: {game_id: @game.id, letter: letter},
        form: {style: 'display:inline-block;'}, :disabled => true, :class => "btn btn-primary", :style => "visibility: hidden;" %>
      <% end %>
  <% end %>
  </div>
</div>

<div class = hangman_image_container>
  <%= image_tag "frame" + (15 - @game.guesses_left).to_s + ".png", :digest => false, :class => "hangman_image" %>
</div>

<!--
<div class = game_buttons>
  <% if @game.game_over %>
    <%= button_to "Play Again", {:controller => "games", :action => "new"}, :method => :get %>
    <%= button_to "Reveal Word", {:controller => "games", :action => "reveal_word", :game_id => @game.id} %>
  <% end %>
</div>
-->
